p {
    color: purple;
    text-align: center;
}
h1 {
    color:red;
    text-align: center;
    
}
h2 {
    color:blue;
   
}
ul {
    color:purple;
}
.footer {
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 2px 10px #3F3E3D;
}
.row{   
    background-color:black;
    color:white;
    font-size:20px;
    display: flex;
}

#info{
    border: white 10px solid;
    margin-right: 50px;
}